/User/target/
/User/build/
/User/dist/
/User/nbproject/private/
/User/nbbuild/
/User/nbbuild/
/User/.nb-gradle/
/User/manifest.mf
/User/build.xml
/Admin/target/
/Admin/build/
/Admin/dist/
/Admin/nbproject/private/
/Admin/nbbuild/
/Admin/nbbuild/
/Admin/.nb-gradle/
/Admin/manifest.mf
/Admin/build.xml
